@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

.contact-bgimage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  margin-bottom: 50px;
}
/* CONTENT */
.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.contactheader-details {
  margin-top: 1em;
  font-size: 1.8rem;
  word-spacing: 2px;
  text-align: center;
  color: black;
  font-family: "Mazzard";
}

/* SAY HELLO SECTION */
.say-hello {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
}
.hello-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.4em;
}
.hello-details {
  font-size: 1.6rem;
  color: rgb(124, 124, 124);
}
.hello-image {
  width: 70%;
}
/* CONTACT INFORMATION */
.contact-information {
  background-color: #292929;
  width: fit-content;
  border-radius: 5px;
}
.contact-info-details {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 140px;
}
.info-details-head {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 0.6em;
  font-family: "Rammetto One";
}
.info-details-p {
  color: rgb(124, 124, 124);
  font-size: 1.1rem;
  font-family: "Mazzard";
  margin-bottom: 4em;
}
/* phone number */
.call-contact {
  gap: 10px;
  padding-bottom: 1.5em;
  display: flex;
  align-items: center;
}
.phone-icon {
  color: white;
  font-size: 1.5rem;
  margin-right: 25px;
}
.phone-no {
  color: rgb(124, 124, 124);
  text-decoration: none;
}
.address {
  padding-bottom: 3em;
}
/* CONTACT US INPUT & MESSAGE  SECTION*/
.message-section {
  margin-bottom: 50px;
}
.message {
  text-align: center;
  margin-bottom: 25px;
}

.message h2 {
  margin-bottom: 0.6em;
}

.message p {
  color: rgb(124, 124, 124);
  font-family: "Mazzard";
  font-size: 1.2em;
}
/* FORM INPUT AREA  */
.input-area {
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}
.input-section {
  width: auto;
  padding: 25px 40px;
  background-color: #282a94;
  border-radius: 10px;
}

/* INPUT SECTION ONE */
.name-btn {
  display: flex;
  align-items: center;
  gap: 30%;
}
.input-container {
  width: 120%;
}
/* MESSAGE AREA */
.text-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
textarea {
  margin-top: 10px;
  margin-bottom: 30px;
}
.textarea-btn {
  width: 60%;
  transition: transform 0.3s ease-in-out;
}
.textarea-btn:hover {
  transform: scale(1.1);
  background-color: #737458;
}

/* Tablet: On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
}

/*Mobile:  On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
}
