@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

.contact-containerr {
  padding: 0 100px;
  margin-bottom: 50px;
}
.container-raduis {
  display: flex;
  padding: 20px;
  border: 1px solid #282a94;
  border-radius: 5px;
}
.contact-information {
  flex: 1 1 40%;
}
.message {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 80px;
}

.message h2 {
  margin-bottom: 0.6em;
}

.message p {
  color: rgb(124, 124, 124);
  font-family: "Mazzard";
  font-size: 1.2em;
}
/* CONTACT INFORMATION */
.contact-information {
  /* background-color: #292929; */
  background-color: #282a94;
  width: auto;
  /* width: fit-content; */

  /* border-radius: 5px; */
}
.contact-info-details {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 140px;
}
.info-details-head {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 0.6em;
  font-family: "Rammetto One";
}
.info-details-p {
  color: rgb(124, 124, 124);
  font-size: 1.1rem;
  font-family: "Mazzard";
  margin-bottom: 4em;
}
/* phone number */
.flex-contact {
  display: flex;
}
.call-contact {
  gap: 10px;
  padding-bottom: 1.5em;
  display: flex;
  align-items: center;
  font-style: italic;
}
.phone-icon {
  color: white;
  font-size: 1.5rem;
  margin-right: 25px;
}
.phone-no {
  color: #ffffff;
  text-decoration: none;
}

.icon-section {
  margin-top: 5em;
  display: flex;
  gap: 25px;
}
.form-icon {
  color: #ffffff;
}
.form-icon:hover {
  cursor: pointer;
}

/* MESSAGE  SECTION */
.input-section {
  flex: 1 1 60%;
  padding: 10px;
  /* background-color: #282a94; */
}

/* INPUT SECTION ONE */
.name-section {
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
}
.input-width {
  width: 100%;
}

.input-container {
  width: 80%;
}

/* INPUT SECTION TWO */
.name-section-two {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 10px;
  gap: 10px;
}

.input-container {
  width: 100%;
}
.subject-feild {
  font-family: "Mazzard";
}

/* MESSAGE AREA */
.text-area {
  margin-top: 20px;
  margin-bottom: 23px;
}

textarea {
  width: 100%;
  margin: 10px 0 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Mazzard";
  resize: none;
}

.textarea-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  /* transition: transform 0.3s ease-in-out; */
}

.textarea-btn:hover {
  /* transform: scale(1.1); */
  background-color: #737458;
}
.icon-style {
  color: #ffffff;
  margin-left: 10px;
}
/* TESTIMONIAL SECTION */
.equip-margin-bt {
  margin-bottom: 10px;
}
.contact-testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.contact-testimonial-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 20%;
  transition: transform 0.3s ease-in-out;
}

.contact-testimonial-btn:hover {
  transform: scale(1.1);
  background-color: #737458;
}
.icon-style {
  color: #ffffff;
  margin-left: 10px;
}

/* Tablet: On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .contact-containerr {
    padding: 0 25px;
    margin-bottom: 50px;
  }
  .container-raduis {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #282a94;
    border-radius: 5px;
  }
  .contact-information {
    flex: 1 1 40%;
  }
  .message {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
  }

  .message h2 {
    margin-bottom: 0.6em;
  }

  .message p {
    color: rgb(124, 124, 124);
    font-family: "Mazzard";
    font-size: 1.2em;
  }
  /* CONTACT INFORMATION */
  .contact-information {
    /* background-color: #292929; */
    background-color: #282a94;
    width: auto;
    /* width: fit-content; */

    /* border-radius: 5px; */
  }
  .contact-info-details {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 140px;
  }
  .info-details-head {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 0.6em;
    font-family: "Rammetto One";
  }
  .info-details-p {
    color: rgb(124, 124, 124);
    font-size: 1.1rem;
    font-family: "Mazzard";
    margin-bottom: 4em;
  }
  /* phone number */
  .flex-contact {
    display: flex;
  }
  .call-contact {
    gap: 10px;
    padding-bottom: 1.5em;
    display: flex;
    align-items: center;
    font-style: italic;
  }
  .phone-icon {
    color: white;
    font-size: 1.5rem;
    margin-right: 25px;
  }
  .phone-no {
    color: #ffffff;
    text-decoration: none;
  }

  .icon-section {
    margin-top: 5em;
    display: flex;
    gap: 25px;
  }
  .form-icon {
    color: #ffffff;
  }
  .form-icon:hover {
    cursor: pointer;
  }

  /* MESSAGE  SECTION */
  .input-section {
    flex: 1 1 60%;
    padding: 10px;
    /* background-color: #282a94; */
  }

  /* INPUT SECTION ONE */
  .name-section {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
  }
  .input-width {
    width: 100%;
  }

  .input-container {
    width: 80%;
  }

  /* INPUT SECTION TWO */
  .name-section-two {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 10px;
    gap: 10px;
  }

  .input-container {
    width: 100%;
  }

  /* MESSAGE AREA */
  .text-area {
    margin-top: 20px;
    margin-bottom: 23px;
  }

  textarea {
    width: 100%;
    margin: 10px 0 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
  }

  .textarea-btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    /* transition: transform 0.3s ease-in-out; */
  }

  .textarea-btn:hover {
    /* transform: scale(1.1); */
    background-color: #737458;
  }
}

/*Mobile:  On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .contact-containerr {
    padding: 0 8px;
    margin-bottom: 50px;
  }
  .container-raduis {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #282a94;
    border-radius: 5px;
  }
  .contact-information {
    flex: 1 1 40%;
  }
  .message {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .message h2 {
    margin-bottom: 0.6em;
    text-align: center;
  }

  .message p {
    color: rgb(124, 124, 124);
    font-family: "Mazzard";
    font-size: 1em;
    text-align: center;
  }
  /* CONTACT INFORMATION */
  .contact-information {
    /* background-color: #292929; */
    background-color: #282a94;
    width: auto;
    /* width: fit-content; */

    /* border-radius: 5px; */
  }
  .contact-info-details {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .info-details-head {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 0.6em;
    font-family: "Rammetto One";
  }
  .info-details-p {
    color: rgb(124, 124, 124);
    font-size: 1.1rem;
    font-family: "Mazzard";
    margin-bottom: 4em;
  }
  /* phone number */
  .flex-contact {
    display: flex;
  }
  .call-contact {
    gap: 10px;
    padding-bottom: 1.5em;
    display: flex;
    align-items: center;
    font-style: italic;
  }
  .phone-icon {
    color: white;
    font-size: 1.5rem;
    margin-right: 25px;
  }
  .phone-no {
    color: #ffffff;
    text-decoration: none;
  }

  .icon-section {
    margin-top: 5em;
    display: flex;
    gap: 25px;
  }
  .form-icon {
    color: #ffffff;
  }
  .form-icon:hover {
    cursor: pointer;
  }

  /* MESSAGE  SECTION */
  .input-section {
    flex: 1 1 60%;
    padding: 5px;
    /* background-color: #282a94; */
  }

  /* INPUT SECTION ONE */
  .name-section {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
  }
  .input-width {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
  }

  .input-container {
    width: 80%;
  }

  /* INPUT SECTION TWO */
  .name-section-two {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-top: 5px;
    gap: 5px;
  }

  .input-container {
    width: 100%;
  }

  /* MESSAGE AREA */
  .text-area {
    margin-top: 20px;
    margin-bottom: 23px;
  }

  textarea {
    width: 100%;
    margin: 10px 0 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
  }

  .textarea-btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60%;
    /* transition: transform 0.3s ease-in-out; */
  }

  .textarea-btn:hover {
    /* transform: scale(1.1); */
    background-color: #737458;
  }
}
