.course-detail {
    display: flex;
    height: 100vh;
    background-color: #dfc5a2;
    margin-bottom: 2rem;
  }
  
  .main-content {
    margin: 8px 16px;
    margin-top: 8px;
    width: 67%;
    overflow: auto;
    border-radius: 0.5rem;
    background-color: white;
  }
  
  .sidebar {
    margin-right: 16px;
    width: 33%;
    background-color: white;
  }
  
  .benefits {
    padding: 16px;
  }
  
  .benefits-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 1px;
    border-bottom: 1px solid #f4f4f5;
    border-right: 1px solid #f4f4f5;
    font-size: 0.5rem;
  }
  
  .benefits-grid > div {
    padding: 8px;
    border-top: 1px solid #f4f4f5;
    border-left: 1px solid #f4f4f5;
  }
  
  .projects {
    padding: 16px;
    text-align: center;
    font-size: 0.5rem;
  }
  
  .projects-title {
    margin-bottom: 8px;
  }
  
  .projects-list {
    display: flex;
    justify-content: space-between;
  }
  
  .projects-list > div {
    flex-grow: 1;
  }
  
  .how-it-works {
    background-color: black;
    color: white;
    padding: 16px;
  }
  
  .how-it-works-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .get-started-btn {
    cursor: pointer;
  }
  
  .how-it-works-steps {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
  }
  
  .step {
    padding: 16px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .step-number {
    background-color: #3b82f6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-bottom: 8px;
  }
  
  .step-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  
  .step-content {
    text-align: center;
  }