@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

.feedback-bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
}
.read {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 500;
  font-family: "Rammetto One";
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
/* CONTENT */
.read-content {
  display: flex;
  justify-content: center;
}
.read-details {
  border-radius: 10px;
  padding: 30px 70px;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Mazzard";
}

.show {
  color: #fff;
}
.facebook {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}
.facebook-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #5764ef;
  width: 35px;
  height: 35px;
}
.connect-to {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
}
.connect-to-facebook {
  padding: 15px 35px;
  background-color: aqua;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-family: "Mazzard";
}

/* ARTICLE */
.discover-heading {
  margin-bottom: 1em;
  line-height: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Rammetto";
  padding-top: 2em;
  text-align: center;
}
.discover-section {
  display: flex;
  justify-content: center;
}

.discover-details {
  font-size: 18px;
  font-family: "Mazzard";
  text-align: center;
  color: rgb(124, 124, 124);
}

.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactus-button {
  width: 10%;
  border-radius: none;
}
/* SECTION FOUR */
.section-four {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 2em;
}

.section-four-container {
  display: flex;
  gap: 60px;
  padding-top: 1.8em;
  padding-bottom: 2.2em;
}
.image-sizes {
  width: 600px;
  height: 300px;
}
.city-walking-tours {
  /* padding: 70px 30px; */
  text-align: center;
}

.walking-tour {
  padding-bottom: 0.6em;
  line-height: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(22, 169, 169);
  font-family: "Rammetto";
}
.pounds {
  margin-bottom: 1em;
  font-size: 1.3rem;
}
.walking-tour-details {
  line-height: 25px;
  color: rgb(124, 124, 124);
}
.gap-space {
  height: 20px;
}
/* Tablet: On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .feedback-bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
  }
  .read {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 500;
    font-family: "Rammetto One";
    padding-top: 2em;
    padding-bottom: 2em;
  }
  /* CONTENT */
  .read-content {
    display: flex;
    justify-content: center;
  }
  .read-details {
    border-radius: 10px;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .show {
    color: #fff;
  }
  .facebook-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #5764ef;
    width: 45px;
    height: 45px;
  }
  .connect-to {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
  }
  .connect-to-facebook {
    padding: 10px 25px;
    background-color: aqua;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 800;
    font-family: "Mazzard";
  }

  /* ARTICLE */
  .discover-heading {
    margin-bottom: 1em;
    line-height: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Rammetto";
    padding-top: 2em;
    text-align: center;
  }
  .discover-section {
    display: flex;
    justify-content: center;
  }

  .discover-details {
    font-size: 15px;
    font-family: "Mazzard";
    text-align: center;
    color: rgb(124, 124, 124);
  }
}

/*Mobile: On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .feedback-bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
  }
  .read {
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
    font-family: "Rammetto One";
    padding-top: 2em;
    padding-bottom: 1em;
  }
  /* CONTENT */
  .read-content {
    display: hidden;
    display: flex;
    justify-content: center;
  }
  .read-details {
    border-radius: 10px;
    /* padding: 3px 3px; */
    background-color: rgba(0, 0, 0, 0.7);
  }

  .show {
    color: #fff;
    font-size: 12px;
  }
  .facebook-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #3e4ce9;
    width: 25px;
    height: 25px;
  }
  .connect-to {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2.5em; */
  }
  .connect-to-facebook {
    padding: 10px 10px;
    background-color: aqua;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-family: "Mazzard";
  }
  /* ARTICLE */
  .heading {
    padding-left: 18px;
    padding-right: 18px;
  }
  .discover-heading {
    margin-bottom: 1em;
    line-height: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Rammetto";
    padding-top: 4em;
    text-align: center;
  }
  .discover-section {
    display: flex;
    justify-content: center;
  }

  .discover-details {
    font-family: "Mazzard";
    text-align: left;
    color: rgb(124, 124, 124);
  }
}
