.us-main {
  background-image: url(../../../images//png/aboutgroupimage.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  padding-left: 60px;
}
/* .us-main {
  background-image: url(../../../images//png/aboutgroupimage.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  align-items: center;
  padding-left: 60px;
} */

.us-header {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 800;
}
.us-main-content p {
  font-size: 1.25rem;
  color: #eee;
  max-width: 550px;
}
/* What we build */
.soft-dev-header {
  position: relative;
  padding-bottom: 10px;
}
.soft-wrapper {
  padding: 40px 0px;
}
.soft-dev-content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
/* call to action */
.soft-cta {
  background-color: #071d6a;
  padding: 50px;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
}
.cta-header {
  font-size: 2rem;
  margin-bottom: 10px;
}
.soft-cta h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.soft-cta p {
  font-size: 1.1rem;
}

@media (max-width: 767px) {
  .soft-cta h2 {
    font-size: 1.5rem;
  }

  .soft-cta p {
    font-size: 1rem;
  }
}
.soft-cta-button {
  margin-top: 20px;
  display: inline-block;
  background-color: #ffffff;
  color: #071d6a;
  padding: 10px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}
/* Medium screens (tablets) */
@media (max-width: 1023px) {
  .software-header {
    font-size: 3rem;
  }

  .software-main {
    padding-left: 40px;
    padding-right: 40px;
  }

  .software-main-content p {
    font-size: 1.125rem;
  }
}

/* Small screens (phones) */
@media (max-width: 767px) {
  .us-main{
    padding-top: 15px;
    height: 32vh;
    background-repeat: no-repeat;
  
  }

 .us-header{
      font-size: 45px;
      padding-top: 1rem;
 }
  .software-main {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }

  .software-header {
    font-size: 2rem;
  }

  .software-main-content {
    max-width: 100%;
  }

  .software-main-content p {
    font-size: 1rem;
    max-width: 100%;
  }
}
