.software-main {
  background-image: url(../../../images//png/blue-gradient-slant-bg.png);
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.software-header {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 800;
}
.software-main-content p {
  font-size: 1.25rem;
  color: #eee;
  max-width: 550px;
}
.soft-dev-header {
  position: relative;
  padding-bottom: 10px;
}
/* .soft-dev-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 3px;
  background-color: #0a0d31;
} */
.soft-wrapper {
  padding: 40px;
}
.soft-dev-content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
/* call to action */
.soft-cta {
  background-color: #071d6a;
  padding: 50px;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
}
.cta-header {
  font-size: 2rem;
  margin-bottom: 10px;
}
.soft-cta p {
  font-size: 1.1rem;
}
.soft-cta-button {
  margin-top: 20px;
  display: inline-block;
  background-color: #ffffff;
  color: #071d6a;
  padding: 10px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}
