.buttonAlt {
  padding: 0.8em 1.6em;
  font-size: 1 rem;
  background-color: #071d6a;
  color: #97a3b6;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  margin-top: 30px;
}

.buttonAlt:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
