.buttonAlt {
  padding: 12px 28px;
  background-color: #071d6a;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 50px;
  transition: all 0.3s ease;
  font-size: 16px;
  white-space: nowrap;
  outline: none;
  border: none;
}

.buttonAlt:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
