@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

/* CONTENT */
.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 100px;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.home-heading {
  font-size: 4.5rem;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 500;
  font-family: "Rammetto One";
}

.product-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
  transition: transform 0.3s ease-in-out;
}

.See-our-product {
  font-family: "Mazzard";
  cursor: pointer;
  width: 30%;
  transition: transform 0.3s ease-in-out;
}
.See-our-product:hover {
  transform: scale(1.1);
}

/* TABLET On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* padding-top: 80px; */
  }
  .bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
  }

  .home-heading {
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 500;
  }

  .product-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
  }

  .See-our-product {
    font-family: "Mazzard";
    cursor: pointer;
    width: 40%;
  }
}

/*MOBILE On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* padding-top: 150px; */
  }
  .bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }

  .home-heading {
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 500;
  }

  .product-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
  }

  .See-our-product {
    font-family: "Mazzard";
    cursor: pointer;
    width: 85%;
  }
}
