@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

/* CONTENT */
.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 100px;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.business {
  font-size: 4.5rem;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 500;
  font-family: "Rammetto One";
}
/* hr {
  padding-left: 100px;
  padding-right: 100px;
  border-top: 2px solid rgb(218, 214, 214);
} */

.empower {
  margin-top: 1em;
  font-size: 1.8rem;
  word-spacing: 2px;
  text-align: center;
  color: #fff;
  font-family: "Mazzard";
}

.product-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
}

.See-our-product {
  font-family: "Mazzard";
  cursor: pointer;
  width: 15%;
}

/* .product-button {
  padding: 20px 45px;
  background-color: #fff;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-family: "Mazzard";
} */

/* TABLET On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 80px;
  }
  .bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
  }

  .business {
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 500;
  }
  .empower {
    margin-top: 1em;
    font-size: 1.7rem;
    word-spacing: 2px;
    text-align: center;
    color: #fff;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 4em; */
  }
  .product-button {
    padding: 20px 70px;
    background-color: #fff;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
  }
}

/*MOBILE On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 30px;
  }
  .bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
  }

  .business {
    font-size: 1.1rem;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 500;
  }
  .empower {
    margin-top: 0.6em;
    font-size: 1rem;
    word-spacing: 1.2px;
    text-align: center;
    color: #fff;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
  }
  .product-button {
    padding: 10px 18px;
    background-color: #fff;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
  }
}
