@import url("https://fonts.googleapis.com/css?family=Rubik One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=RubikH-Regular");

/* CONTENT */
.home-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 80vh;
}

/* .home-left {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .home-right {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
} */

.banner-size {
  width: 300px;
  height: 300px;
  object-fit: cover;
  background-color: #fff9e9;
  border-radius: 50%;
}
.banner-one {
  position: relative;
  left: -5rem;
  bottom: -7rem;
}
.banner-two {
  position: relative;
  left: -22rem;
  top: -2.5rem;
}

.home-content {
  text-align: center;
  margin-bottom: 2rem;
}

.home-heading {
  font-size: 3.8rem;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 700;
  color: #071d6a;
  /* text-shadow: 0px 4px 4px rgba(255, 177, 0, 0.25); */
  font-family: "Verdana Pro";
}

.product-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.See-our-product {
  font-family: "Rubik";
  cursor: pointer;
  width: 60%;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.See-our-product:hover {
  transform: scale(1.1);
}

/* home Banner css */
.home-middle-banner {
  background-color: #fbcc34;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}

.home-middle-one-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.home-middle-one {
  display: flex;
  align-items: center;
  gap: 10px;
  animation: scroll 15s linear infinite;
}

.home-middle-one-p {
  font-family: "Courier New", Courier, monospace;
  margin-top: 10px;
  font-size: 16px;
}
.icon-styles {
  color: #000000;
  width: 15px;
  height: 15px;
}
/* home Banner css */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* TABLET On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
}

/*MOBILE On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .home-main {
    align-self: center;
    padding: 0 20px;
    height: 50vh;
  }
  /* .home-main {
    padding: 0 20px;
    text-align: center;
  } */

  .home-heading {
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-align: center;
  }
  .home-left {
    align-self: center;
  }
  .home-right {
    display: none;
  }
  .See-our-product {
    font-family: "Rubik";
    cursor: pointer;
    width: 90%;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
  }

  .See-our-product:hover {
    transform: scale(1.1);
  }
  .home-middle-banner {
    background-color: #fbcc34;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }

  .home-middle-one-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
  }

  .home-middle-one {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    animation: scroll 15s linear infinite;
  }

  .home-middle-one-p {
    font-family: "Courier New", Courier, monospace;
    margin-top: 5px;
    font-size: 12px;
  }
  .icon-styles {
    color: #000000;
    width: 15px;
    height: 15px;
  }
}
