.product_sec {
  background-color: #171818;
  padding: 10px;
  margin-top: 80px;
  /* margin-bottom: 80px; */
}
.product_sec h1 {
  color: #efecfe;
  font-size: 2.8rem;
  font-weight: 900;
  margin-top: -20px;
}
.product_sec p {
  color: #efecfe;
  font-size: 16px;
  /* font-weight: 900; */
  margin-bottom: 30px;
}
.product_title {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 630px) {
  .product_sec h1 {
    color: #efecfe;
    font-size: 1.1rem;
    line-height: 60px;
    margin-bottom: 30px;
  }
}
