.course-detail {
  margin-bottom: 2rem;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  text-align: center;
}

.course-detail-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.course-detail-content > div {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-detail-content h2 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.course-detail-content p {
  margin-bottom: 1.5rem;
}

.course-detail-content ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.course-detail-content li {
  margin-bottom: 0.5rem;
}

.modal-content {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.modal-content ol {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.modal-content li {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.modal-content li::before {
  content: "\2022";
  position: absolute;
  left: 0;
  color: #333;
  font-weight: bold;
}

.buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 100%; */
}

.get-started-btn {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  width: 40%;
  /* padding: 0.5rem; */
}

.get-started-btn:hover {
  transform: scale(1.1);
}


@media (max-width: 768px) {
  .course-detail-content {
    grid-template-columns: 1fr;
  }

  get-started-btn {
    width: auto;
  }
}