@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Variables for heading */
  --heading-line-height: 1.2;
  --heading-font-size: 35px;
  --heading-font-weight: 800;
  --heading-font-family: "Rammetto", sans-serif;

 
  /* Variables for paragraph */
  --paragraph-font-size: 1.2rem;
  --paragraph-font-weight: 200;
  --paragraph-font-family: "Mazzard", sans-serif;
  --paragraph-letter-spacing: 2px;
}

.main-container {
  padding-left: 100px;
  padding-right: 100px;
}

.modal-main {
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  display: flex;
}

.modal-inner {
  background-color: #ffffff;
  width: 60%;
  height: 65%;
  padding: 20px;
  border-radius: 5px;
}

.modal-x {
  align-self: flex-end;
  cursor: pointer;
}

.modal-text {
  margin-top: 40px;
  overflow: scroll;
}

.modal-header {
  margin-bottom: 10px;
  color: #282a94;
  font-size: 24px;
  font-family: "Rammetto One";
}
.modal-body {
  color: #000000;
  font-size: 18px;
  font-family: "MazzardH";
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .main-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
