@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

/* CONTENT */
.drone-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 100px;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  /* margin-bottom: 50px; */
}

.drone-heading {
  font-size: 4.5rem;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 500;
  font-family: "Rammetto One";
}

.drone-heading-details {
  margin-top: 1em;
  font-size: 1.8rem;
  word-spacing: 2px;
  text-align: center;
  color: #fff;
  font-family: "Mazzard";
}
.drone-approach-main {
  padding-left: 100px;
  padding-right: 100px;
}

/* OUR APPROACH SECTION */
.bg-color {
  background-color: #f9f9f9;
}
.drone-approach-main {
  margin-bottom: 50px;
}

.droneapproach-head {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 1.5em;
  font-family: "Rammetto One";
}

.droneapproach-item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2%;
}

.droneapproach-list {
  margin-bottom: 20px;
}

.droneapproach-list h2 {
  margin-bottom: 20px;
  font-family: "Rammetto One";
  color: #232e35;
  transition: color 0.3s ease;
}
.droneapproach-list h2:hover {
  color: #12d6d6;
  cursor: pointer;
}
.droneapproach-list p {
  font-family: "Mazzard";
  font-size: 1rem;
  color: rgb(124, 124, 124);
  margin-bottom: 1em;
}
.list-button {
  background-color: transparent;
  border: none;
  color: #12d6d6;
  font-weight: 700;
  font-family: "Rammetto One";
  transition: transform 0.3s ease-in-out;
}
.list-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* FEATURED DRONE SERVICE */
.ft-drone-service {
  /* background-color: #f9f9f9; */
  margin-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.featured-head {
  text-align: center;
  margin-bottom: 2em;
  font-family: "Rammetto One";
  font-size: 1.5rem;
}
/* Arial photography and videography  */
.videography-main {
  margin-bottom: 50px;
  background-color: #ffffff;
}
.droneapproach-details {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  flex-basis: calc(23% - 2%);
}

.droneapproach-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.video-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.3em;
  color: #282a94;
}
.drone-text {
  color: rgb(124, 124, 124);
}
.drone-video-btn {
  font-family: "Mazzard";
  margin-top: 2em;
  width: 40%;
  transition: transform 0.3s ease-in-out;
}
.drone-video-btn:hover {
  transform: scale(1.1);
}
.map {
  width: 300px;
  height: 300px;
  color: #282a94;
}

/* MAPPING & SURVEYING */
.mapping {
  margin-bottom: 50px;
  background-color: #ffffff;
}
.mapping-ul {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  flex-basis: calc(23% - 2%);
}
.mappping-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mapping-text {
  width: 50%;
}
.mapping-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.3em;
  color: #282a94;
}
/* .maping-container {
  width: 50%;
} */
.map {
  width: 300px;
  height: 300px;
  color: #282a94;
}

.video-btn {
  margin-top: 2em;
  width: 35%;
  transition: transform 0.3s ease-in-out;
}
.video-btn:hover {
  transform: scale(1.1);
}

/* Infrastructure Inspection */
.infrastructure {
  margin-bottom: 50px;
  background-color: #ffffff;
}
.infrastructure-ul {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  flex-basis: calc(23% - 2%);
}
.infrastructure-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 30%; */
}
.map-container {
  width: 50%;
}
.infrastructure-text {
  width: 50%;
}
.infrastructure-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.3em;
  color: #282a94;
}
.map {
  width: 300px;
  height: 300px;
  color: #282a94;
}
/* cropmonitoring */
.cropmonitoring {
  margin-bottom: 50px;
  background-color: #ffffff;
}
.cropmonitoring-ul {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  flex-basis: calc(23% - 2%);
}
.cropmonitoring-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cropmonitoring-text {
  width: 50%;
}
/* .monitoring-container {
  width: 50%;
} */
.cropmonitoring-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.3em;
  color: #282a94;
}
.map {
  width: 300px;
  height: 300px;
  color: #282a94;
}
/* TECHNOLOGIES AND EQUIPMENT  */
.techandequipment {
  margin-bottom: 50px;
}
.tech-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;
  font-family: "Rammetto One";
  margin-bottom: 2em;
}
.tools {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  flex-basis: calc(23% - 2%);
  background-color: #ffffff;
}
.tools:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.drone-camera-software {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  gap: 40px;
}

.image-icon {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #12d6d6;
}
.title {
  font-family: "Rammetto One";
  margin-bottom: 0.5em;
}
.content {
  font-family: "Mazzard";
  color: rgb(186, 184, 184);
}
/* CUSTOMER TESTIMONIAL */
.feedback {
  margin-bottom: 50px;
}
.droneBg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}
.drone-customer-testimonials {
  height: 350px;
}

.drone-read {
  /* color: #282a94; */
  color: #12d6d6;
  font-size: 2.5rem;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 600;
  font-family: "Rammetto One";
  padding-top: 1.2em;
  padding-bottom: 1.5em;
}

.drone-testimonial-details {
  padding: 0 50px;
  text-align: left;
  font-size: 1.2em;
  color: #ffffff;
  font-family: "Mazzard";
  letter-spacing: 2px;
}
.drone-testifier {
  margin-top: 10px;
  color: #12d6d6;

  /* color: #282a94; */
  padding-left: 50px;
}
/* Button */
.drone-contact-uss {
  padding-left: 50px;
  margin-top: 50px;
}

.drone-contactuss-button {
  width: 18%;
  border-radius: none;
  transition: transform 0.3s ease-in-out;
}
.drone-contactuss-button:hover {
  transform: scale(1.1);
}

/* TABLET On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .drone-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 150px;
  }
  .drone-approach-main {
    padding-left: 25px;
    padding-right: 25px;
  }
  /* FEATURED DRONE SERVICE */
  .ft-drone-service {
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .map {
    width: 200px;
    height: 200px;
    color: #282a94;
  } /* Arial
photography and videography */
  .videography-main {
    margin-bottom: 50px;
    background-color: #ffffff;
  }
  .droneapproach-details {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    flex-basis: calc(23% - 2%);
  }
  .droneapproach-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8%;
  }

  .video-heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.3em;
    color: #282a94;
  }
  .drone-text {
    color: rgb(124, 124, 124);
  }
  .drone-video-btn {
    margin-top: 2em;
    width: 40%;
  }
  .video-size {
    width: 300px;
    height: 300px;
    color: #282a94;
  }

  /* TECHNOLOGIES AND EQUIPMENT  */
  .tools {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    flex-basis: calc(50% - 2%);
    /* flex-basis: calc(23% - 2%); */
    background-color: #ffffff;
  }
  .drone-camera-software {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    gap: 20px;
  }
  /* CUSTOMER TESTIMONIAL */
  .droneBg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 35vh;
  }
}

/*MOBILE On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .drone-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 10px;
  }

  .bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    /* margin-bottom: 50px; */
  }

  .drone-heading {
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 500;
    font-family: "Rammetto One";
  }

  .drone-heading-details {
    margin-top: 1em;
    font-size: 0.7rem;
    word-spacing: 2px;
    text-align: center;
    color: #fff;
    font-family: "Mazzard";
  }
  .drone-approach-main {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* OUR APPROACH SECTION */
  .bg-color {
    background-color: #f9f9f9;
  }
  .drone-approach-main {
    margin-bottom: 50px;
  }

  .droneapproach-head {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 1.5em;
    font-family: "Rammetto One";
  }

  .droneapproach-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* gap: 30%; */
  }

  .droneapproach-list {
    margin-bottom: 50px;
  }

  .droneapproach-list h2 {
    margin-bottom: 20px;
    font-family: "Rammetto One";
    color: #232e35;
    transition: color 0.3s ease;
  }
  .droneapproach-list h2:hover {
    color: #12d6d6;
    cursor: pointer;
  }
  .droneapproach-list p {
    font-family: "Mazzard";
    font-size: 1rem;
    color: rgb(124, 124, 124);
    margin-bottom: 1em;
  }
  .list-button {
    color: #12d6d6;
    font-weight: 700;
    font-family: "Rammetto One";
    transition: color 0.3s ease;
  }
  .list-button:hover {
    color: #232e35;
    cursor: pointer;
  }
  /* FEATURED DRONE SERVICE */
  .ft-drone-service {
    padding-left: 20px;
    padding-right: 20px;
  }
  .featured-head {
    font-size: 1.2rem;
  }
  .videography-main,
  .mapping,
  .infrastructure,
  .cropmonitoring {
    margin-bottom: 30px;
  }
  .droneapproach-details,
  .mapping-ul,
  .infrastructure-ul,
  .cropmonitoring-ul {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .droneapproach-services,
  .mappping-services,
  .infrastructure-services,
  .cropmonitoring-services {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .video-details,
  .mapping-text,
  .infrastructure-text,
  .cropmonitoring-text {
    width: 100%;
  }
  .video-heading,
  .mapping-heading,
  .infrastructure-heading,
  .cropmonitoring-heading {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .drone-video-btn {
    width: 50%;
  }
  .video-btn {
    width: 50%;
  }
  .video-size {
    width: 100%;
  }
  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    color: #282a94;
  }

  /* TECHNOLOGIES AND EQUIPMENT  */
  .techandequipment {
    margin-bottom: 50px;
  }
  .tech-heading {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 40px;
    font-family: "Rammetto One";
    margin-bottom: 1.5em;
  }
  .tools {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    flex-basis: calc(100% - 2%);
    /* flex-basis: calc(23% - 2%); */
    background-color: #ffffff;
  }
  .tools:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .drone-camera-software {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    gap: 40px;
  }

  .image-icon {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #12d6d6;
  }
  .title {
    font-family: "Rammetto One";
    margin-bottom: 0.5em;
  }
  .content {
    font-family: "Mazzard";
    color: rgb(186, 184, 184);
  }
  /* CUSTOMER TESTIMONIAL */
  .feedback {
    margin-bottom: 50px;
  }
  .droneBg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45vh;
  }
  .drone-customer-testimonials {
    height: 350px;
  }

  .drone-read {
    /* color: #282a94; */
    color: #12d6d6;
    font-size: 1.3rem;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 600;
    font-family: "Rammetto One";
    padding-top: 1.2em;
    padding-bottom: 1.5em;
  }

  .drone-testimonial-details {
    padding: 0 5px;
    text-align: left;
    font-size: 1em;
    color: #ffffff;
    font-family: "Mazzard";
    letter-spacing: 2px;
  }
  .drone-testifier {
    margin-top: 10px;
    color: #12d6d6;

    /* color: #282a94; */
    padding-left: 50px;
  }
  /* Button */
  .drone-contact-uss {
    padding-left: 50px;
    margin-top: 50px;
  }

  .drone-contactuss-button {
    width: 18%;
    border-radius: none;
    transition: transform 0.3s ease-in-out;
  }
  .drone-contactuss-button:hover {
    transform: scale(1.1);
  }
}
