.display-main {
  padding-left: 100px;
  padding-right: 100px;
}

.head {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  padding-bottom: 0.8em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.ruler {
  border-top: 2px solid rgb(218, 214, 214);
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .head {
    font-size: 1.3rem;
  }
}
