@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

.products-banner {
  width: 100%;
  height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
  display: block;
  padding-top: 100px;
  margin-bottom: 80px;
}
.products-banner-inner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20%;
  height: 500px;
}
.products-banner-desc {
  width: 40%;
  height: auto;
}
.product-cart {
  width: 450px;
  height: 450px;
  color: #000000;
}

.products-header {
  font-family: "Rammetto One";
  font-size: 40px;
  color: #000000;
  margin-bottom: 15px;
}
.product-p {
  font-family: "MazzardH";
  letter-spacing: 2px;
  font-size: 22px;
  color: rgb(39, 39, 39);
}
.product-bottom-banner {
  background-color: #000000;
  width: 100%;
  height: 130px;
  padding: 12px;
  align-self: flex-end;
}
.product-bottom-banner {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.product-bottom-list {
  border-right-width: 1.8px;
  border-right-width: 1.8px;
  border-right-color: #ffffff;
  border-style: solid;
  height: auto;
  width: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.product-bottom-icon {
  width: 40px;
  height: 40px;
  color: #ffffff;
}
.product-bottom-inner {
  width: 80%;
}

.product-bottom-title {
  font-family: "MazzardH";
  letter-spacing: 2px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}

.our-catalog {
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 120px;
}

.our-catalog-map {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.our-catalog-header {
  font-family: "Rammetto One";
  font-size: 40px;
  color: #282a94;
  margin-bottom: 15px;
  margin-bottom: 35px;
}
.our-catalog-icon{
  width: 400px;
  height: 400px;
}
.our-catalog-right{
  width: 50%;
}

.choose-us-product {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
}
