@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

/* SECTIONS */
.section-main {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 2em;
}
/* SECTION ONE OUR HISTORY */
.section-one {
  display: flex;
  gap: 60px;
  padding-top: 1.8em;
  padding-bottom: 2.2em;
}
.coding-image {
  /* box-shadow: 0.35em 0.35em 1em grey; */
  border-radius: 10px;
}

.image-size {
  width: 600px;
  height: 300px;
  /* border-radius: 10px; */
  /* box-shadow: 0.35em 0.35em 1em grey; */
}
.history {
  /* padding: 70px 30px; */
  /* text-align: center; */
}
.our-history {
  margin-bottom: 1em;
  line-height: 10px;
  font-size: 35px !important;
  font-weight: 800;
  color: #282a94;
  font-family: "Rammetto";
}
.histoy-details {
  font-size: 1.2rem;
  font-weight: 200;
  color: rgb(186, 184, 184);
  font-family: "Mazzard";
  text-align: justify;
  letter-spacing: 2px;
}
/* CONTACT US BOTTON */
.history-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.readmore-btn {
  width: 30%;
  border-radius: none;
  transition: transform 0.3s ease-in-out;
}
.readmore-btn:hover {
  transform: scale(1.1);
}

/* SECTION TWO OUR APPROACH */
.section-two {
  display: flex;
  gap: 60px;
  padding-top: 1.8em;
  padding-bottom: 2.2em;
}
.image-size {
  width: 600px;
  height: 300px;
}
.approach {
  padding: 70px 30px;
  text-align: center;
}
.our-approach {
  margin-bottom: 1em;
  line-height: 10px;
  font-size: 35px !important;
  font-weight: 800;
  color: #282a94;
  font-family: "Rammetto";
}
.approach-details {
  font-size: 1.2rem;
  font-weight: 200;
  color: rgb(186, 184, 184);
  font-family: "Mazzard";
  text-align: justify;
  letter-spacing: 2px;
}

/* SECTION THREE OUR SERVICES */
.our-service-main {
  margin-bottom: 50px;
}
.section-three {
  display: flex;
  gap: 60px;
  padding-top: 1.8em;
  padding-bottom: 1em;
}
.image-size {
  width: 600px;
  height: 300px;
}
.services {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  /* padding: 70px 30px; */
  text-align: center;
}
.our-services {
  margin-bottom: 1em;
  line-height: 10px;
  font-size: 35px !important;
  font-weight: 800;
  color: #282a94;
  font-family: "Rammetto";
}
.services-details {
  font-size: 1.2rem;
  font-weight: 200;
  color: rgb(186, 184, 184);
  font-family: "Mazzard";
  text-align: justify;
  letter-spacing: 2px;
}
/* CAROUSEL SECTION */
.carousel-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.carousel-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  /* max-width: 100%; */
  /* height: auto; */
  /* border-radius: 20px; */
}

.slick-slide div {
  text-align: center;
}

.imageone {
  border-radius: 20px;
  /* box-shadow: 10px 10px gray; */
}
.carousel-heading {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 10px;
  font-size: 30px;
  font-weight: 800;
  /* color: #282a94; */
  font-family: "Rammetto";
}
.carousel-details {
  font-size: 1.2rem;
  font-weight: 200;
  color: rgb(186, 184, 184);
  font-family: "Mazzard";
  text-align: justify;
  letter-spacing: 2px;
}
/* .padded {
  padding-left: 20px;
  padding-right: 20px;
} */
/* OUR SERVICES BOTTON */
.our-services-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.services-btn {
  width: 15%;
  border-radius: none;
  transition: transform 0.3s ease-in-out;
}
.services-btn:hover {
  transform: scale(1.1);
}

/*Tablet:  On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  /* SECTIONS */
  .section-main {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 2em;
  }

  /* SECTION ONE */
  .section-one {
    display: flex;
    gap: 20px;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
  }
  .image-size {
    width: 370px;
    height: 200px;
  }
  .history {
    padding: 10px 0px;
    text-align: left;
  }
  .our-history {
    margin-bottom: 1em;
    text-align: center;
    line-height: 0;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Rammetto";
  }

  .histoy-details {
    font-size: 1rem;
    line-height: 0.5cm;
    text-align: left;
    font-family: "Mazzard";
    color: rgb(124, 124, 124);
  }
  /* CONTACT US BOTTON */
  .history-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4em;
  }

  .readmore-btn {
    width: 48%;
    border-radius: none;
  }

  /* SECTION TWO OUR APPROACH */
  .section-two {
    display: flex;
    gap: 20px;
    padding-top: 1.8em;
  }
  .image-size {
    width: 370px;
    height: 200px;
  }
  .approach {
    padding: 20px 0px;
    text-align: left;
  }
  .our-approach {
    margin-bottom: 1em;
    text-align: center;
    line-height: 0;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Rammetto";
  }

  .approach-details {
    font-size: 1rem;
    line-height: 0.5cm;
    text-align: left;
    font-family: "Mazzard";
    color: rgb(124, 124, 124);
  }
  /* SECTION THREE OUR SERVICES */
  .our-service-main {
    margin-bottom: 50px;
  }
  .section-three {
    display: flex;
    gap: 20px;
    padding-top: 1.8em;
  }
  .image-size {
    width: 370px;
    height: 200px;
  }
  .services {
    padding: 20px 0px;
    text-align: left;
  }
  .our-services {
    margin-bottom: 1em;
    text-align: center;
    line-height: 0;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Rammetto";
  }

  .services-details {
    font-size: 1rem;
    line-height: 0.5cm;
    text-align: left;
    font-family: "Mazzard";
    color: rgb(124, 124, 124);
  }

  /* CAROUSEL SECTION */
  .carousel-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .carousel-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* max-width: 100%; */
    /* height: auto; */
    /* border-radius: 20px; */
  }

  .slick-slide div {
    text-align: center;
  }

  .imageone {
    border-radius: 20px;
    /* box-shadow: 10px 10px gray; */
  }
  .padded {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* OUR SERVICES BOTTON */
  .our-services-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }

  .services-btn {
    width: 25%;
    border-radius: none;
  }
}

/*Mobile: On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .section-main {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0.5em;
  }

  /* SECTION ONE */
  .section-one {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 0.5em;
    padding-bottom: 1.2em;
  }
  .image-size {
    width: 350px;
    height: 200px;
  }
  .history {
    padding: 5px 0px;
    text-align: left;
  }
  .our-history {
    margin-bottom: 1em;
    text-align: center;
    line-height: 0;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .histoy-details {
    /* line-height: 0.5cm; */
    text-align: left;
    font-size: 15px;
  }
  /* CONTACT US BOTTON */
  .history-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4em;
  }

  .readmore-btn {
    width: 48%;
    border-radius: none;
  }
  /* SECTION TWO OUR APPROACH */
  .section-two {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 1.8em;
  }
  .image-size {
    width: 350px;
    height: 200px;
  }
  .approach {
    padding: 5px 0px;
    text-align: left;
  }
  .our-approach {
    margin-bottom: 1em;
    text-align: center;
    line-height: 0;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .approach-details {
    /* line-height: 0.5cm; */
    text-align: left;
    font-size: 15px;
  }
  /* SECTION TREE OUR SERVICES */
  .our-service-main {
    margin-bottom: 20px;
  }
  .section-three {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 1.8em;
  }
  .image-size {
    width: 350px;
    height: 200px;
  }
  .services {
    padding: 5px 0px;
    text-align: left;
  }
  .our-services {
    margin-bottom: 1em;
    text-align: center;
    line-height: 0;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .services-details {
    /* line-height: 0.5cm; */
    text-align: left;
    font-size: 15px;
  }
  /* CAROUSEL SECTION */
  .carousel-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .carousel-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* max-width: 100%; */
    /* height: auto; */
    /* border-radius: 20px; */
  }

  .slick-slide div {
    text-align: center;
  }

  .imageone {
    border-radius: 20px;
    /* box-shadow: 10px 10px gray; */
  }
  .padded {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* OUR SERVICES BOTTON */
  .our-services-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }

  .services-btn {
    width: 55%;
    border-radius: none;
  }
}
