.dashboardContainer {
  display: flex;
  height: calc(100vh - 60px);
  position: relative;
}

.sidebar {
  width: 25%;
  min-width: 250px;
  background: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  z-index: 900;
}

.userInfo {
  margin-bottom: 30px;
}

.userInfo h3 {
  color: rgb(7, 29, 106);
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 5px;
}

.userInfo p {
  color: #000;
  margin-bottom: 15px;
}

.userMeta {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 0.9rem;
}

.sidebarNav {
  flex: 1;
  overflow-y: auto;
}

.navItem {
  display: flex;
  width: 100%;
  justify-content: start;
  margin-top: 17px;
  align-items: center;
  padding: 12px 16px;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navItem:hover {
  background: #e0e0e0;
}
.navItem span {
  color: rgb(51, 51, 51);
}

.navItemActive {
  composes: navItem;
  /* background: var(--primary-color); */
  color: rgb(51, 51, 51);
}

.navIcon {
  margin-right: 10px;
  font-size: 1.1rem;
  color: rgb(7, 29, 106);
}

.signOutButton {
  margin-top: auto;
  padding: 12px;
  background-color: rgb(220, 53, 69);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

.signOutButton:hover {
  background: #c82333;
}

.mainContent {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #f9f9f9;
}

.backButton {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  padding: 8px 15px;
  background-color: rgb(7, 29, 106);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.backButton:hover {
  background: #03376f;
}

/* Responsive styles */
@media (max-width: 768px) {
  .mobileMenuButton {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    width: 80%;
    max-width: 300px;
  }

  .sidebarOpen {
    composes: sidebar;
    transform: translateX(0);
  }

  .mainContent {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .userInfo h3 {
    font-size: 1.5rem;
  }
}
