@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

.footer-main {
  padding: 0 100px;
}
.heading {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  padding-bottom: 0.8em;
  font-family: "Rammetto One";
}

.rule {
  border-top: 2px solid rgb(218, 214, 214);
}
/* LOGO */
.footer-logo-container {
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-top: 3em;
  padding-bottom: 4em;
}

.logo-size {
  color: #fff;
  width: 23px;
  height: 23px;
}

.twitter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  width: 45px;
  height: 45px;
}

.linkedin-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #5764ef;
  width: 45px;
  height: 45px;
}

.instagram-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ef4444;
  width: 45px;
  height: 45px;
}
.youtube-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ec4e68;
  width: 45px;
  height: 45px;
}
/* END OF LOGO */

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
  font-size: 2.3rem;
  line-height: 1.8;
}
.connect {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(124, 124, 124);
  font-weight: 500;
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* FORM */

/* FORM SECTION */
.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
  gap: 25px;
}

.form-input {
  width: 40%;
  margin-top: 50px;
}
.signup-btn {
  /* width: 10%; */
  margin-top: 50px;
  background-color: black;
}
.signup-btn:hover {
  background-color: #52525b;
  transition: 0.8s;
}

/* END OF FORM */

/* LAST FOOTER SECTION */
.footer-buttom {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 500;
  font-size: medium;
  color: rgb(124, 124, 124);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.color-change {
  text-decoration: none;
}
.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 1em; */
  font-weight: 600;
  margin-bottom: 3em;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .footer-main {
    padding: 0 50px;
  }
  .heading {
    font-size: 1.3rem;
    color: #333;
    font-weight: 500;
    padding-bottom: 0.8em;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .footer-logo-container {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-top: 3em;
    padding-bottom: 4em;
  }

  .logo-size {
    color: #fff;
    width: 27px;
    height: 27px;
  }

  .twitter-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    width: 55px;
    height: 55px;
  }

  .linkedin-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #5764ef;
    width: 55px;
    height: 55px;
  }

  .instagram-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ef4444;
    width: 55px;
    height: 55px;
  }
  .youtube-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ec4e68;
    width: 55px;
    height: 55px;
  }
  .connect {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(124, 124, 124);
    margin-bottom: 1.2em;
    font-weight: 500;
    font-size: large;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  /* FORM */
  .newsletter-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 25px;
    margin-bottom: 3em;
  }
  .newsletter-email-input {
    padding: 16px;
    margin-right: 10px;
    border: 2px solid #ccc;
    width: 60%;
    font-weight: 600;
    font-size: large;
  }

  .newsletter-button {
    padding: 10px 25px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: large;
  }
  .footer-buttom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-weight: 500;
    font-size: 19px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .footer-main {
    padding-left: 15px;
    padding-right: 15px;
  }
  .heading {
    font-size: 1rem;
  }
  .subscribe {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  .connect {
    font-weight: 500;
    font-size: smaller;
  }

  /* SOCIAL LOGO */
  .footer-logo-container {
    gap: 40px;
    padding-top: 2em;
    padding-bottom: 3em;
  }
  .logo-size {
    width: 17px;
    height: 17px;
  }
  .twitter-icon {
    width: 40px;
    height: 40px;
  }
  .linkedin-icon {
    width: 40px;
    height: 40px;
  }

  .instagram-icon {
    width: 40px;
    height: 40px;
  }
  .youtube-icon {
    width: 40px;
    height: 40px;
  }

  /* END OF SOCIAL LOGO */
  /* FOARM */
  .newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
    margin-bottom: 2em;
  }
  .newsletter-email-input {
    padding: 14px;
    margin-right: 10px;
    border: 2px solid #ccc;
    width: 100%;
    font-weight: 600;
    font-size: medium;
  }

  .newsletter-button {
    padding: 14px 20px;
    font-weight: 600;
    font-size: medium;
  }

  /* FOOTER LAST SECTION */
  .footer-buttom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-weight: 500;
    font-size: small;
  }
  .policy {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 1em; */
    font-weight: 600;
  }
}
