@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

/* CONTENT */
.equipment-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 150px;
}

.e-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  /* margin-bottom: 50px; */
}

.equipment-heading {
  font-size: 4.5rem;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 500;
  font-family: "Rammetto One";
}
.equipment-heading-details {
  margin-top: 1em;
  font-size: 1.8rem;
  word-spacing: 2px;
  text-align: center;
  color: #fff;
  font-family: "Mazzard";
}
/* OUR APPROACH SECTION */
/* OUR SERVICES SECTION*/
.equip-main {
  padding: 0 100px;
  padding-top: 50px;
}
.equip-header {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: #282a94;
  font-family: "Rammetto";
}
.margin-btm {
  margin-bottom: 50px;
}
.equip-icon {
  color: #282a94;
}
/* CONTACT US */
.contact-header {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  color: #282a94;
  font-family: "Rammetto";
}
.equip-contact-details {
  text-align: left;
  font-family: "MazzardH";
  letter-spacing: 2px;
  font-size: 22px;
  color: rgb(39, 39, 39);
  margin-bottom: 20px;
}

/* BENEFIT OF WORKING WITH US */
.equipment-btn {
  /* padding-left: 10px; */
}

.equipment-btn-details {
  width: 20%;
  border-radius: none;
  transition: transform 0.3s ease-in-out;
}
.equipment-btn-details:hover {
  transform: scale(1.1);
}

/*Tablet:  On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .equip-main {
    padding: 0 50px;
    padding-top: 50px;
  }
}
/*mobile:  On screens that are 600px) or less, set the background color to blue */
@media screen and (max-width: 600px) {
  .equip-main {
    padding: 0 20px;
    padding-top: 50px;
  }
  .e-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    /* margin-bottom: 50px; */
  }
  .equipment-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 120px;
  }

  .equipment-heading {
    font-size: 1.4rem;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 500;
    font-family: "Rammetto One";
  }
  .equipment-heading-details {
    margin-top: 1em;
    font-size: 1rem;
    word-spacing: 2px;
    text-align: center;
    color: #fff;
    font-family: "Mazzard";
  }
}
