@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

.details-bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  object-fit: contain;
}
.softservice-main {
  padding-left: 180px;
  padding-right: 180px;
  color: #ffffff;
}

.page-head {
  font-family: "Rammetto One";
  margin: 0;
  padding-top: 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 4.5rem;
  /* color: #ffffff; */
  font-weight: 700;
}
.page-head-details {
  text-align: center;
  font-family: "Mazzard";
  /* color: #ffffff; */
  font-size: 1.2rem;
  font-weight: 500;
}
.top-data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 0 100px;
}
.img-banner {
  width: 100%;
  height: 600px;
}
.img-con {
  width: 46%;
}
/* software details section two */
/* Details.css */
.test-top-con {
  /* existing styles */
}
.text-con {
  margin-bottom: 20px;
  text-align: center;
}

.info-con {
  padding: 0 100px;
  margin-top: 20px;
  text-align: center;
}

.info-con h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.info-con p {
  font-size: 1.2em;
  color: #666;
}

.category,
.tools {
  margin-top: 10px;
  margin-bottom: 50px;
}

.category h3,
.tools h3 {
  margin-bottom: 5px;
  font-size: 1.3em;
  color: #444;
}

.category p,
.tools p {
  gap: 20px;
  font-size: 1.1em;
  color: #555;
  margin-right: 30px;
}
.tool-item {
  margin-right: 30px;
}
/* button section */
.details-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.phone-call-btn {
  width: 20%;
}
.contact-email-btn {
  width: 20%;
}
.detail-style {
  width: 20px;
  height: 20px;
  color: #ffffff;
}
