@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

.customerfeedback-main {
  margin-bottom: 50px;
}
.customer-testimonials {
  margin-bottom: 50px;
  background-color: #282a94;
  height: 400px;
}

.read {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 500;
  font-family: "Rammetto One";
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.testiminial-details {
  padding: 0 50px;
  color: #ffffff;
  font-family: "Mazzard";
  letter-spacing: 2px;
}
.testifier {
  margin-top: 10px;
  color: #00ffff;
}
/* Button */
.contact-uss {
  padding-left: 50px;
  margin-top: 50px;
}

.contactuss-button {
  width: 18%;
  border-radius: none;
  transition: transform 0.3s ease-in-out;
}
.contactuss-button:hover {
  transform: scale(1.1);
}

/* SECTION FOUR */
.section-four {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 2em;
}

/* CONTACT US LAST SECTION */
.cont-main {
  margin-bottom: 50px;
}
.heading {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  padding-bottom: 0.8em;
  font-family: "Rammetto";
}
.rule {
  border-top: 2px solid rgb(218, 214, 214);
}

.questions {
  text-align: center;
  padding: 30px 0;
  font-family: "Rammetto";
  font-weight: 500;
  font-size: 1.6rem;
}
.clients {
  text-align: center;
  color: rgb(124, 124, 124);
  padding-bottom: 30px;
  font-family: "Mazzard";
  font-size: 1.2rem;
}
.droid {
  font-family: "Rammetto";
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  padding-bottom: 30px;
}
.hours {
  font-family: "Rammetto";
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  padding-bottom: 27px;
}
.time {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 30px;
  color: rgb(124, 124, 124);
  font-family: "Mazzard";
}
.friday {
  color: aqua;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mazzard";
  gap: 30px;
}

.contactus-button-style {
  width: 12%;
  border: none;
  font-family: "Mazzard";
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;
}
.contactus-button-style:hover {
  transform: scale(1.1);
}

/* Tablet: On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .customerfeedback-main {
    margin-bottom: 50px;
  }
  .customer-testimonials {
    margin-bottom: 40px;
  }

  .read {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 500;
    font-family: "Rammetto One";
    padding-top: 2em;
    padding-bottom: 1em;
  }
  .testiminial-details {
    padding: 0 50px;
    color: #ffffff;
    font-family: "Mazzard";
    letter-spacing: 2px;
    text-align: justify;
  }
  .testifier {
    margin-top: 10px;
    color: #00ffff;
  }
  /* Button */
  .contact-uss {
    padding-left: 50px;
    margin-top: 20px;
  }

  .contactuss-button {
    width: 30%;
    border-radius: none;
    transition: transform 0.3s ease-in-out;
  }
  .contactuss-button:hover {
    transform: scale(1.1);
  }

  /* SECTION FOUR  */
  .section-four {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 2em;
  }

  .section-four-container {
    display: flex;
    gap: 60px;
    padding-top: 1.8em;
    padding-bottom: 2.2em;
  }
  .image-sizes {
    width: 370px;
    height: 200px;
  }
  */
 
  /* CONTACT US  SECTION */
  .cont-main {
    margin-bottom: 50px;
  }
  .heading {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    padding-bottom: 0.8em;
    font-family: "Rammetto";
  }
  .rule {
    border-top: 2px solid rgb(218, 214, 214);
  }

  .questions {
    text-align: center;
    padding: 30px 0;
    font-family: "Rammetto";
    font-weight: 500;
    font-size: 1.6rem;
  }
  .clients {
    text-align: center;
    color: rgb(124, 124, 124);
    padding-bottom: 30px;
    font-family: "Mazzard";
    font-size: 1rem;
  }
  .droid {
    font-family: "Rammetto";
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    padding-bottom: 30px;
  }
  .hours {
    font-family: "Rammetto";
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    padding-bottom: 27px;
  }
  .time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    padding-bottom: 30px;
  }
  .select-time select {
    border: none;
    outline: none;
  }

  select {
    border: none;
    outline: none;
    color: aqua;
    /* font-size: 0.6rem; */
  }
  .contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mazzard";
  }

  .contactus-button-style {
    width: 22%;
    border: none;
    font-family: "Mazzard";
    font-size: 1.2rem;
    font-weight: 600;
  }
}

/*Mobile: On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .customerfeedback-main {
    margin-bottom: 50px;
  }
  .customer-testimonials {
    margin-bottom: 40px;
  }

  .read {
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
    font-family: "Rammetto One";
    padding-top: 1.8em;
    padding-bottom: 1em;
  }
  .testiminial-details {
    padding: 0 15px;
    color: #ffffff;
    font-family: "Mazzard";
    font-size: 13px;
    /* letter-spacing: 2px; */
    text-align: left;
  }
  .testifier {
    margin-top: 10px;
    color: #00ffff;
    font-size: 10px;
  }
  /* Button */
  .contact-uss {
    padding-left: 15px;
    margin-top: 20px;
  }

  .contactuss-button {
    width: 50%;
    border-radius: none;
    transition: transform 0.3s ease-in-out;
  }
  .contactuss-button:hover {
    transform: scale(1.1);
  }

  /* SECTION FOUR */
  .section-four {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2em;
  }

  /* CONTACT US SECTION */
  .cont-main {
    margin-bottom: 50px;
  }
  .heading {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    padding-bottom: 0.8em;
    font-family: "Rammetto";
  }
  .rule {
    border-top: 2px solid rgb(218, 214, 214);
  }

  .questions {
    text-align: center;
    padding: 20px 0;
    font-family: "Rammetto";
    font-weight: 500;
    font-size: 1.4rem;
  }
  .clients {
    text-align: center;
    color: rgb(124, 124, 124);
    padding-bottom: 20px;
    font-family: "Mazzard";
    font-size: 1rem;
  }
  .droid {
    font-family: "Rammetto";
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  .hours {
    font-family: "Rammetto";
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    padding-bottom: 27px;
  }
  .time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    padding-bottom: 30px;
  }
  .select-time select {
    border: none;
    outline: none;
  }

  select {
    border: none;
    outline: none;
    color: aqua;
    /* font-size: 0.6rem; */
  }
  .contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mazzard";
  }

  .contactus-button-style {
    width: 42%;
    border: none;
    font-family: "Mazzard";
    font-size: 1.2rem;
    font-weight: 600;
  }
  .contactus-button-styles {
    width: 42%;
    border: none;
    font-family: "Mazzard";
    font-size: 1.2rem;
    font-weight: 600;
  }
}
