.intro {
  background: #fff;
  padding: 20px;
  /* justify-content: center;
  align-items: center; */
}

.intro-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-left: 2px solid #00000038;
  padding-left: 45px;
  text-align: center;
}

.intro-block h1 {
  font-size: 3rem;
  transition: all 0.3s ease-out;
  font-weight: 800;
  color: #000;
}

.intro-block h1 small {
  font-size: 1.6rem;
}

.intro-block p {
  /* font-size: 1.5rem; */
  font-weight: 500;
  text-transform: capitalize;
  color: #4a4a4a;
}

.color_bg {
  background: #171818;
  /* background: #242627; */
  border-radius: 3px;
  padding: 40px;
}
.color_bg span {
  background: #242627;
  border-radius: 2px;
  padding: 10px;
  font-size: 10px;
  font-weight: 900;
  color: #efecfe;
  margin-bottom: 50px;
}
.color_bg .text_con {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.color_bg .text_con h1 {
  color: #efecfe;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 2.5rem;
}
.color_bg .image_con {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.color_bg .image_con img {
  width: 300px;
  height: auto;
  /* margin-bottom: -50px; */
  display: block;
}

.core_value h1 {
  color: #0a0d31;
  margin-bottom: 20px;
  font-weight: 700;
}
.core_value p {
  color: #4a4a4a;
  font-size: 14px;
}
.core_value img {
  margin-bottom: 10px;
  width: 90px;
  height: auto;
}

.team_sec h1 {
  font-size: 3.5rem;
  /* margin-top: 20px; */
  margin-top: -35px;
  /* margin: 10px 0 10px; */
  font-weight: 900;
  /* z-index: 99999; */
}

.team_sec .team_decs {
  /* width: 100%; */
  /* height: 400px; */
  background: #fff;
  padding: 40px;
  margin-top: 100px;
  text-align: center;
}

.value_t {
  margin-left: 20px;
}

@media (min-width: 768px) {
  .block-alt {
    border-left: none !important;
  }
}
@media (max-width: 768px) {
  .intro-block {
    text-align: left;
  }
  .intro-block h1 {
    font-size: 2rem;
  }

  .intro-block h1 small {
    font-size: 0.6rem;
  }

  .intro-block p {
    font-size: 0.7rem;
  }

  .color_bg .image_con img {
    width: 250px;
  }
  .color_bg {
    width: 135%;
    margin-left: -49px;
  }
  .color_bg span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  .color_bg .text_con {
    align-items: center;
  }

  .color_bg .text_con h1 {
    text-align: center;
  }

  .join-team_intro {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Segoe UI", sans-serif;
    line-height: 1.7;
    color: #333;
  }

  .join-team_paragraph {
    margin-bottom: 16px;
    text-align: left;
    margin-left: 1rem;
  }
  .core_value_cards {
    margin-left: -3rem !important;
  }

  .team_decs_container {
    width: 119%;
    margin-left: -2rem !important;
  }

  .team_image_container {
    width: 100%;
  }
}

@media (max-width: 630px) {
  .color_bg .text_con h1 {
    margin-top: -24px;
    font-size: 1.3rem;
  }
  .color_bg .image_con {
    /* justify-content: start !important;
    align-items: start !important; */
    text-align: left;
    margin-top: 30px;
  }
  .value_t {
    margin-left: 0;
  }

  .team_sec h1 {
    font-size: 2rem;
    margin-top: 10px;
    /* margin-top: -50px; */
    line-height: 65px;
    margin-bottom: 20px;
  }
  .team_sec .team_decs {
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  /*
  .team_sec .team_decs {
    padding: 20px;
  }
  .core_value h1 {
    font-size: 2rem;
  }
  .core_value p {
    font-size: 0.8rem;
  } */
}
